@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: hsla(0, 5%, 4%, 1);
    background: linear-gradient(
      315deg,
      hsla(0, 5%, 4%, 1) 60%,
      hsla(237, 100%, 50%, 1) 100%
    );
    background: -moz-linear-gradient(
      315deg,
      hsla(0, 5%, 4%, 1) 60%,
      hsla(237, 100%, 50%, 1) 100%
    );
    background: -webkit-linear-gradient(
      315deg,
      hsla(0, 5%, 4%, 1) 60%,
      hsla(237, 100%, 50%, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0A0909", endColorstr="#000DFF", GradientType=1);
    color: white; /* biar teks default putih */
    /* sembunyikan scrollbar tapi tetap bisa scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  }